:root {
	--main-color: #000000;
	--accent-color: #8301ef;
	--outline-width: 0px;
	--font-text: 120%;
	--font-auszeichnung: 100%;
}


@font-face {
  font-family: "Epilogue-Regular";
  src: url("font/Epilogue-Regular.woff2");
  font-weight: 400;
  font-style: normal;

}


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	-webkit-hyphens: auto; 
  hyphens: auto; 
}

html {
	font: var(--font-text) "Epilogue-Regular", sans-serif;
	line-height: 1.2;
}

::selection {
    color: #ffffff;
    background-color: var(--accent-color);
}

img {
	width: 100%;
	height: auto;
}



h1 {
	font-size: var(--font-text);
	font-weight: 400;
}

p {
	margin-inline: 0.5rem;
	margin-block: 0.25rem;
}

em {
	font-size: var(--font-auszeichnung);
	font-style: normal;
	color: #fff;
}


.header {
	outline: var(--outline-width) solid red;
	width: 90%;
	display: grid;
	grid-gap: 0.25rem;

	position: fixed;
	background-color: #ffffff;

	top: 0px;
	left: 5vw;
	padding-block: 1.5rem 0rem;
 }


.footer {
	outline: var(--outline-width) solid red;
	width: 90%;
	margin-block: 3rem 2rem;
	margin-inline: auto;
	display: grid;
	grid-gap: 1rem;
}

.grid {
	outline: var(--outline-width) solid red;
	width: 90%;
	margin-block: 8rem 6rem;
	margin-inline: auto;
	display: grid;
	grid-gap: 1rem;
}


.grid > div {
	outline: 0px solid black;
}


@media (min-width: 700px) {
	.grid {
		grid-template-columns: repeat(2, 1fr);
	}
	.planta-img {
		grid-column: 1 / 3;
	}
	.planta-video { 
		grid-column: 1 / 3;
	}
	.gezeichnet-img-1 {
		grid-column: 1 / 3;
	}
	.gezeichnet-img-2 {
		grid-column: 1 / 3;
	}
	.fluesterpost-img {
		grid-column: 1 / 3;
	}
	.beyond-img {
		grid-column: 1 / 3;
	}
 	.bangandolufsen-img {
  	grid-column: 1 / 3;
  }
  .blender-video {
  	grid-column: 1 / 3;
  }
  .marbalance-video {
  	grid-column: 1 / 3;
  }
 	 .marbalance-img {
  	grid-column: 1 / 3;
  }
  .unterwasserlaerm-img-1 {
  	grid-column: 1 / 3;
  }
  .unterwasserlaerm-img-2 {
  grid-column: 1 / 3;
  }
  .deep-blue-video {
  	grid-column: 1 / 4;
  }
  .rocketdeployer-img {
  	grid-column: 1 / 3;
  }
  .rocketdeployer-img-2 {
  	grid-column: 1 / 4;
  }
}

@media (min-width: 1200px) {
	.grid {
		grid-template-columns: repeat(3, 1fr);
	}	
	.planta-img {
		grid-column: 1 / 3;
	}
	.planta-video {
		grid-column: 2 / 4;
	}
	.gezeichnet-img-1 {
		grid-column: 1 / 3;
	}
	.gezeichnet-img-2 {
		grid-column: 2 / 4;
	}
	.fluesterpost-img {
		grid-column: 2 / 4;
	}
	 .marbalance-img {
  		grid-column: 2 / 4;
  	}
	.unterwasserlaerm-img-2 {
  		grid-column: 2 / 4;
 	 }
 	.deep-blue-video {
  		grid-column: 1 / 3;
 	}
 	.rocketdeployer-img {
  		grid-column: 1 / 3;
 	}
 	.rocketdeployer-img-2 {
  	grid-column: 2 / 4;
  }
}

.nav {	
	list-style: none;
	margin: 0;
	margin-block: 0.5rem 1rem;
	padding: 0;
	display: flex;
	gap: 0.5rem;
	flex-flow: row wrap;
}

 
.nav button {
	font-size: var(--font-auszeichnung);
	color: var(--accent-color);
	background-color: #fff;
	border: 1px solid var(--accent-color);
	padding: 3.5px 9px 3px 9px;
	margin: 4px 6px 4px 0;
}


.nav button:is(:hover, :focus, .aktiv) {
	transition: all 0.3s ease;
	color: #fff;
	background-color: var(--accent-color);
	cursor: pointer;
	border: 1px solid #fff;
}


.content > div {
	display: none;
} 

.content > div.show {
	display: block;
} 


.projekt {
	outline: var(--outline-width) solid red;
	margin-block: 0rem 2.5rem;
	display: grid;
	grid-gap: 0.5rem;
}

.projekt:hover {
	transition: all 0.3s ease;
	color: var(--accent-color);
}

.projekt:hover em {
	color: var(--accent-color);
}

.projekt:hover img { 
		opacity: 1;
}


a, a:visited, a:link {
	text-decoration: none;
	color: var(--main-color);
}


a:active, a:hover {
  color: var(--accent-color);
  text-decoration: none;
}



span {
	color: #fff;
}

a:hover span {
	transition: all 0.3s ease;
	color: var(--accent-color);
}

a:active span {
	transition: all 0.3s ease;
	color: var(--accent-color);
}




summary {
	cursor: pointer;
	list-style: none;
	background: transparent;
	padding: 0;
}  

summary::-webkit-details-marker { display: none; }

summary > * {
   display: inline;
}


summary > span {
	display: none;
}

summary:is(:hover, :focus) {
	color: var(--accent-color);
	transition: all 0.3s ease;
}


details {
	display: flex;
	flex-flow: row wrap;
	padding: 0;

}

details .grid {
	width: 100%;
	margin: 20px 0;
}


.pfeil-oben {
	transition: all 0.3s ease;
	display: none;
}

summary:hover .pfeil-oben {
	display: inline;
}

summary .pfeil-unten {
	display: none;
}

details[open] summary .pfeil-unten {
		display: inline;
    color: var(--accent-color);
}


details[open] summary .pfeil-oben {
	display: none;
}

details[open] summary {
	color: var(--accent-color);
}


details[open] {
	border-bottom: 1px solid var(--accent-color);
}




div.cursors div {
	position: absolute;
	top: 300px;
	left: 300px;
	


	z-index: 100;
	pointer-events: none;
	transform: translate(-50%, -50%);

}

div.cursors div span {
	position: absolute;
	top: -0.25rem;
	left: 1rem;
	width: 290px;

	
	
	color: var(--accent-color);

	padding: 3.5px 9px 3px 9px;

	opacity: 0;
	transition: opacity 0.5s;
}

div.cursors div span.visible {
	opacity: 1;
}



form {
	padding: 0 4rem 0 0;
}

input, textarea {
  width: 100%;
 	border-bottom: 1px solid var(--accent-color);
  padding: 4px;
  margin: 6px 0 6px 0;
  font: var(--font-text) "Epilogue-Regular", sans-serif;
  font-size: var(--font-auszeichnung);
  color: var(--accent-color);
}

input:focus-visible, textarea:focus-visible, button:focus-visible {
    outline: none;
}


form button {
	font-size: var(--font-auszeichnung);
	color: var(--accent-color);
	background-color: #fff;
	border: 1px solid var(--accent-color);
	padding: 3.5px 9px 3px 9px;
	margin: 4px 6px 4px 0;
}


form button:is(:hover, :focus, .aktiv) {
	transition: all 0.3s ease;
	color: #fff;
	background-color: var(--accent-color);
	cursor: pointer;
	border: 1px solid #fff;
}
